html {
  font-family: Muli, Arial, Helvetica, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  color: #333; }

body {
  margin: 0;
  overflow-x: hidden; }

video {
  display: inline-block; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

html {
  box-sizing: border-box;
  overflow-y: scroll; }

* {
  box-sizing: inherit; }

*:before {
  box-sizing: inherit; }

*:after {
  box-sizing: inherit; }

body {
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt"; }

img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0; }

h1 {
  padding: 0;
  margin: 0 0 1.45rem;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  line-height: 1.1; }

h2 {
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1; }

h3 {
  padding: 0;
  margin: 0;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1; }

h4 {
  padding: 0;
  margin: 0 0 1.45rem;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1; }

h5 {
  padding: 0;
  margin: 0 0 1.45rem;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1; }

h6 {
  padding: 0;
  margin: 0 0 1.45rem;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1; }

p {
  font-family: "Roboto Mono", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  padding: 0; }

strong {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  color: #ff4400;
  font-weight: 700; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.wrapper {
  margin: 0 auto;
  max-width: 1250px;
  padding: 0rem 1rem;
  width: 100%; }

.section-header {
  color: #d7d7d7;
  font-size: 5em;
  overflow: hidden;
  padding: 6rem 0 2rem;
  width: 100%; }
  @media screen and (min-width: 720px) {
    .section-header {
      font-size: 6em; } }

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

.dark-green-button {
  font-family: "Roboto Mono", sans-serif;
  background-color: #768352;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.2em;
  padding: 0.2em 0.8em;
  text-transform: uppercase; }

.leaves-button {
  background-blend-mode: soft-light;
  background-color: #788655;
  background-size: 140%;
  display: inline-block;
  transition: transform 0.3s, box-shadow 0.3s; }
  .leaves-button .leaves-button-link {
    font-family: "Roboto Mono", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    color: #beff69;
    display: block;
    font-weight: 700;
    letter-spacing: 0.1em;
    padding: 1.25em 2.25em;
    text-transform: uppercase;
    transition: color 0.3s, background-color 0.3s; }
  .leaves-button:hover {
    transform: scale(1.1);
    box-shadow: 0 24px 88px -8px rgba(30, 30, 30, 0.352); }
    .leaves-button:hover .leaves-button-link {
      background-color: #beff69;
      color: #96a17a; }

/*# sourceMappingURL=index.css.map */
