.about-layer {
    font-size: 50px;
    padding-top: 1.5em;
    color: rgba(0, 0, 0, 0.3);
}

.about-para {
    line-height: 1.2em;
    font-size: 28px;
    font-family: Cabin;
    color: rgba(0, 0, 0, 0.9);
}

@media screen and (max-width: 700px) {
    .about-layer {
        padding-top: 0;
        font-size: 30px;
    }

    .about-para {
        font-size: 20px;
    }
}
