@import "setup";

.about-layer {
    position: relative;
}

.about-content {
    @media screen and ($small-desktop-up) {
        display: flex;
    }
}

.about-bottom {
    border-top: 1px solid $light-gray;
    margin-top: 2rem;
    padding-bottom: 0.5em;
    padding-top: 2rem;
}

.about-one {
    flex-basis: 67%;

    p {
        font-size: 0.9rem;
        line-height: 1.6;

        @media screen and ($large-tablet-up) {
            font-size: 1.2rem;
        }
    }
}

.about-two {
    flex-basis: 33%;

    @media screen and ($small-desktop-up) {
        margin-left: 2.5rem;
    }
}

.about-one,
.about-two {
    margin-bottom: 3rem;
}

.exp-para {
    @include clearfix;
}

.exp-para-item {
    float: left;
    margin-bottom: 2.2rem;
    width: 100%;

    @media screen and ($large-tablet-up) {
        width: 50%;
    }

    @media screen and ($small-desktop-up) {
        float: none;
        width: auto;
    }
}

.exp-title {
    margin: 0;
    font-size: 1.2rem;
    margin-bottom: 0.25rem;
}

.exp-sub {
    font-size: 0.9rem;
    line-height: 1.9;

    &:nth-of-type(2) {
        color: #b9b9b9;
    }
}

@keyframes animatedgradient {
    0% {
        filter: blur(1px) hue-rotate(0deg);
    }

    100% {
        filter: blur(1px) hue-rotate(360deg);
    }
}

@media screen and (max-width: 700px) {
    .resume-layer {
        border: none;
    }

    .mobile-hide {
        display: none;
    }
}
