@import "setup";

.banner {
    background-attachment: fixed;
    background-size: 40%;
    position: relative;
    width: 100%;

    &:before {
        background-color: $bg-green;
        content: '';
        height: 100%;
        left: 0;
        opacity: 0.88;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.banner-wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    padding: 4rem 1rem 3rem;

    @media screen and ($small-desktop-up) {
        flex-wrap: nowrap;
    }
}

.banner-content {
    margin-top: -8rem;
    order: 2;
    z-index: 1;
    text-align: center;

    @media screen and ($small-desktop-up) {
        margin: 0 5rem 0 0;
        max-width: 500px;
        order: initial;
        text-align: left;
    }
}

.banner-title,
.banner-subtitle {
    background: $text-bg-green;
    color: white;
    display: inline-block;
    padding: 0.1rem 1rem;
}

.banner-title {
    font-size: 6rem;

    &:first-child {
        position: relative;
    }

    @media screen and ($small-desktop-up) {
        font-size: 7rem;
    }

    @media screen and ($large-desktop-up) {
        font-size: 8rem;
    }
}

.banner-subtitle {
    font-size: 1.5rem;

    @media screen and ($small-desktop-up) {
        font-size: 2rem;
    }
}

.banner-img {
    filter: saturate(150%) brightness(1.2);
    max-height: 560px;
}
