.banner-layer {
    width: 100%;
}

.banner-block {
    display: inline-block;
    position: relative;
}

.banner-block {
    min-height: 33em;
    max-height: 33em;
}

.title-block {
    width: 68%;
}

.face-block {
    width: 32%;
}

@media screen and (max-width: 1050px) {
    .banner-block {
        min-height: 25em;
        max-height: 25em;
        margin: 0;
        padding: 0;
    }
}


@media screen and (max-width: 700px) {
    .banner-block {
        min-height: 15em;
        max-height: 15em;
        margin: 0;
        padding: 0;
    }
}
