@import "setup";

.top-button {
    position: fixed;
    bottom: 1em;
    right: 1.5em;
    width: 3em;
    height: 3em;
    transition: opacity $fast-speed linear, transform $fast-speed linear;

    @media screen and (max-width: 700px) {
        width: 1em;
        height: 1em;
        right: 0.5em;
    }
    &:hover {
        transform: scale(1.4);
    }
}

.hide-button {
    opacity: 0;
    transform: translateY(200%);
}

.show-button {
    opacity: 0.6;
    transform: translateY(0);
}
