@import "setup";

.contact-layer {
    min-height: 50vh;

    @media screen and ($large-tablet-up) {
        min-height: 45vh;
    }
}

.contact-title {
    padding-bottom: 0;

    @media screen and ($large-tablet-up) {
        padding: 4rem 0 1rem;
    }
}

.icon-links {
    color: rgba(0, 0, 0, 0);
    padding: 0.5em 0 0.5em 0;
}

.icon-links img {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 0.5em;
    opacity: 0.6;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    backface-visibility: hidden;
}

.icon-links:hover {
    img {
        opacity: 1 !important;
    }

    h3 {
        animation: slideLeft 0.3s linear forwards;
        -webkit-animation: slideLeft 0.3s linear forwards;
    }
}

.icon-links h3 {
    font-size: 35px;
    padding-top: 0.1em;
    transform: translateY(-150%);

    @media screen and (max-width: 700px) {
        .icon-links h3 {
            font-size: 25px;
            padding-top: 0.4em;
            transform: translateY(0%);
        }
    }
}

@keyframes slideLeft {
    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes slideLeft {
    100% {
        transform: translateY(0);
    }
}

.hover-link {
    display: block;
    padding: 0.5em 0 0.5em 0.2em;
    margin: 0.4rem 0 0.4rem 0;
    border: none;
    width: 15rem;
    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    border: 3px solid white;
    font-family: 'Poppins', sans-serif;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition: border-color 0.3s, color 0.3s;
    transition: border-color 0.3s, color 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);

    @media screen and (max-width: 700px) {
        .hover-link {
            width: 8em;
        }
    }
}

.hover-link:focus {
    outline: none;
}

.hover-link > span {
    vertical-align: top;

    svg {
        vertical-align: top;
    }
}

.hover-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: rgba(0, 0, 0, 0.733);
    z-index: -1;
    -webkit-transform: rotate3d(0, 0, 1, -90deg) translate3d(0, -8em, 0);
    transform: rotate3d(0, 0, 1, -90deg) translate3d(0, -8em, 0);
    -webkit-transform-origin: 14% 100%;
    transform-origin: 14% 100%;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s, background-color 0.5s;
    transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}

.hover-link:hover {
    border-color: white;
}

.hover-link:hover::before {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
