@import "setup";

.contact-layer {
    min-height: 60vh;
    background-image: url("../media/striped.png");
    background-size: 200%;
    background-position: 0% 96.5%;
}

.contact-title {
    padding-bottom: 0;

    @media screen and ($large-tablet-up) {
        padding: 4rem 0 1rem;
    }
}

.contact-section {
    @include smooth;

    min-width: 13.56rem;
    margin-bottom: 1.5rem;
}
