.contact-layer {
    font-size: 50px;
    padding: 0.5em 0 1.5em 0;
    color: rgba(0, 0, 0, 0.3);
}

.icon-links {
    color: rgba(0, 0, 0, 0);
    padding: 0.5em 0 0.5em 0;
    width: 6em;
}

.icon-links img {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 0.5em;
    opacity: 0.6;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    backface-visibility: hidden;
}

.icon-links:hover {
    img {
        opacity: 1 !important;
    }

    h3 {
        animation: slideLeft 0.3s linear forwards;
        -webkit-animation: slideLeft 0.3s linear forwards;
    }
}

.icon-links h3 {
    font-size: 35px;
    padding-top: 0.1em;
    transform: translateY(-150%);
}

@keyframes slideLeft {
    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes slideLeft {
    100% {
        transform: translateY(0);
    }
}

.hover-link {
    display: block;
    padding: 0.2em 0 0.2em 0.2em;
    margin: 0.2em 0 0.2em 0;
    border: none;
    width: 6em;
    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    border: 3px solid white;
    font-family: 'Poppins', sans-serif;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition: border-color 0.3s, color 0.3s;
    transition: border-color 0.3s, color 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.hover-link:focus {
    outline: none;
}

.hover-link > span {
    vertical-align: top;

    svg {
        vertical-align: top;
    }
}

.hover-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: black;
    z-index: -1;
    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    -webkit-transform-origin: 14% 100%;
    transform-origin: 14% 100%;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s, background-color 0.5s;
    transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}

.hover-link:hover {
    color: black;
    border-color: white;
    cursor: pointer;
}

.hover-link:hover::before {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

@media screen and (max-width: 1050px) {
    .contact-layer {
        font-size: 40px;
    }
}

@media screen and (max-width: 700px) {
    .contact-layer {
        font-size: 25px;
    }

    .hover-link {
        width: 8em;
    }

    .icon-links h3 {
        font-size: 25px;
        padding-top: 0.4em;
        transform: translateY(0%);
    }
}
