.nav-layer {
    margin: 0 auto;
    max-width: 1250px;
    padding: 4.5em 1rem 3rem 1rem;
}

.nav-layer h1 {
    margin: 0;
}

.nav-block a {
    color: green;
    float: right;
    font-size: 16px;
    text-decoration: none;
    padding-right: 1em;
    padding-left: 1em;
}

.nav-link {
    border: none;
    width: 6.5em;
    padding: 1em 0 1em 0;
    background: none;
    color: inherit;
    text-align: center;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    border: 3px solid white;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition: border-color 0.3s, color 0.3s;
    transition: border-color 0.3s, color 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.nav-link:focus {
    outline: none;
}

.nav-link > span {
    vertical-align: top;

    svg {
        vertical-align: top;
    }
}

.nav-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: rgb(255, 0, 0);
    z-index: -1;
    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -5em, 0);
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -5em, 0);
    -webkit-transform-origin: 10% 100%;
    transform-origin: 10% 100%;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s, background-color 0.5s;
    transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}

.nav-link:hover {
    color: black;
    border-color: white;
    cursor: pointer;
}

.nav-link:hover::before {
    opacity: 1;
    background-color: rgba(107, 187, 228, 0.555);
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

@media screen and (max-width: 1050px) {
    .nav-block {
        width: 100%;
        text-align: center;
    }

    .nav-block a {
        width: 25%;
        display: inline-block;
        white-space: nowrap;
        font-size: 12px;
    }

    .nav-layer {
        padding: 2em 0 0 0;
    }
}
