@import 'setup';

html {
    font-family: Muli, Arial, Helvetica, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
    color: #333;
}

body {
    margin: 0;
    overflow-x: hidden;
}

video {
    display: inline-block;
}

a {
    background-color: transparent;
    text-decoration: none;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

html {
    box-sizing: border-box;
    overflow-y: scroll;
}

* {
    box-sizing: inherit;
}

*:before {
    box-sizing: inherit;
}

*:after {
    box-sizing: inherit;
}

body {
    font-weight: normal;
    word-wrap: break-word;
    font-kerning: normal;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";
}

img {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0;
}

h1 {
    padding: 0;
    margin: 0 0 1.45rem;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    line-height: 1.1;
}

h2 {
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    font-size: 1.62671rem;
    line-height: 1.1;
}

h3 {
    padding: 0;
    margin: 0;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    font-size: 1.38316rem;
    line-height: 1.1;
}

h4 {
    padding: 0;
    margin: 0 0 1.45rem;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    font-size: 1rem;
    line-height: 1.1;
}

h5 {
    padding: 0;
    margin: 0 0 1.45rem;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    font-size: 0.85028rem;
    line-height: 1.1;
}

h6 {
    padding: 0;
    margin: 0 0 1.45rem;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    font-size: 0.78405rem;
    line-height: 1.1;
}

p {
    @include Roboto;
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

strong {
    @include smooth;
    color: $orange;
    font-weight: 700;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@import "utility";
