@font-face {
    font-family: LemonMilk;
    src: url("../fonts/LemonMilk.otf") format("opentype");
}

@font-face {
    font-family: LemonMilklight;
    src: url("../fonts/LemonMilklight.otf") format("opentype");
}

@font-face {
    font-family: BebasNeue;
    src: url("../fonts/BebasNeueBold.otf") format("opentype");
}

@font-face {
    font-family: BebasNeueLight;
    src: url("../fonts/BebasNeueLight.otf") format("opentype");
}

@font-face {
    font-family: Bebas;
    src: url("../fonts/Bebas.ttf") format("truetype");
}

@font-face {
    font-family: Code;
    src: url("../fonts/CodeBold.otf") format("opentype");
}

@font-face {
    font-family: Cabin;
    src: url("../fonts/CabinRegular.ttf") format("truetype");
}

@font-face {
    font-family: CrimsonTextBold;
    src: url("../fonts/CrimsonTextBold.ttf") format("truetype");
}

@font-face {
    font-family: CrimsonText;
    src: url("../fonts/CrimsonTextRegular.ttf") format("truetype");
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/MontserratRegular.ttf") format("truetype");
}

@font-face {
    font-family: MontserratLight;
    src: url("../fonts/MontserratLight.ttf") format("truetype");
}

@font-face {
    font-family: MontserratThin;
    src: url("../fonts/MontserratThin.ttf") format("truetype");
}

@font-face {
    font-family: Oswald;
    src: url("../fonts/OswaldRegular.ttf") format("truetype");
}

@font-face {
    font-family: OswaldLight;
    src: url("../fonts/OswaldLight.ttf") format("truetype");
}

@font-face {
    font-family: Playfair;
    src: url("../fonts/PlayfairDisplayRegular.ttf") format("truetype");
}

@font-face {
    font-family: PlayfairBold;
    src: url("../fonts/PlayfairDisplayBold.ttf") format("truetype");
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
}

video {
    display: inline-block;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-decoration: none;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

html {
    box-sizing: border-box;
    overflow-y: scroll;
}

* {
    box-sizing: inherit;
}

*:before {
    box-sizing: inherit;
}

*:after {
    box-sizing: inherit;
}

body {
    color: hsla(0, 0%, 0%, 0.8);
    font-family: georgia, serif;
    font-weight: normal;
    word-wrap: break-word;
    font-kerning: normal;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";
}

img {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0;
}

h1 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
    color: inherit;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    line-height: 1.1;
}

h2 {
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    color: inherit;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    font-size: 1.62671rem;
    line-height: 1.1;
}

h3 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0;
    color: inherit;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    font-size: 1.38316rem;
    line-height: 1.1;
}

h4 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
    color: inherit;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    font-size: 1rem;
    line-height: 1.1;
}

h5 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
    color: inherit;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    font-size: 0.85028rem;
    line-height: 1.1;
}

h6 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
    color: inherit;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    font-size: 0.78405rem;
    line-height: 1.1;
}

p {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0;
}

@import "utility";
