.display-layer {
    width: 100%;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.3);
    padding-top: 1em;
    position: relative;
}

.back-button img {
    width: 1em;
    right: 1em;
}

.display-title {
    padding: 0 0 0.7em 0;
}

.half-display {
    display: inline-block;
    line-height: 2em;

    img {
        width: 100px;
        height: 100px;
    }
}

.video-content {
    width: 70%;
}

.text-content {
    font-size: 24px;
    width: 30%;
    text-align: center;
    position: absolute;
    padding-top: 3.5em;
}

.round {
    border-radius: 50px;
}

@-webkit-keyframes iconSpin {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }

    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}

@keyframes iconSpin {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }

    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}

.icon-spin {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.icon-spin:hover, .icon-spin:focus, .icon-spin:active {
    -webkit-animation-name: iconSpin;
    animation-name: iconSpin;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@media screen and (max-width: 1050px) {
    .half-display img {
        width: 70px;
        height: 70px;
    }

    .text-content {
        font-size: 20px;
    }
}

@media screen and (max-width: 700px) {
    hr {
        margin: 5px !important;
    }

    .display-layer {
        padding-top: 0.5em;
    }

    .display-title {
        font-size: 30px;
        padding: 0;
    }

    .back-button img {
        width: 0.5em;
        height: 0.5em;
    }

    .half-display {
        width: 100%;
    }

    .half-display img {
        width: 50px;
        height: 50px;
    }

    .text-content {
        position: relative;
        padding-top: 1em;
        font-size: 16px;
    }
}
