@import 'setup';

// Utility classes
.wrapper {
  margin: 0 auto;
  max-width: 1250px;
  padding: 0rem 1rem;
  width: 100%;
}

.section-header {
  color: $light-gray;
  font-size: 5em;
  overflow: hidden;
  padding: 6rem 0 2rem;
  width: 100%;

  @media screen and ($large-tablet-up) {
    font-size: 6em;
  }
}

.clearfix {
  @include clearfix;
}
