@import 'setup';

.project-wrapper {
    margin-bottom: 2rem;
}

.project-layer {
    padding-bottom: 1.5em;
    font-size: 15px;
    width: 100%;
}

.project-blocks {
    display: inline-block;
    position: relative;
    width: calc(33% - 0.8em);
    height: auto;
    margin: 0.7em 0.5em 0.7em 0.5em;
    padding: 0.5em;
    background-color: rgba(220, 220, 220, 0.6);
    color: black;
    transition: transform $med-speed, opacity $med-speed, color $med-speed;
    backface-visibility: hidden;
}

.project-blocks:hover, .project-blocks:active {
    opacity: 1;
    color: white;
    z-index: 2;
    transform: scale(1.06);
    box-shadow: 0 24px 88px -8px rgba(30,30,30,0.352);

    .img-filler {
        background-color: black;
    }

    .project-thumbnail {
        opacity: 1;
    }
}

.project-thumbnail {
    opacity: 0.5;
    transition: opacity $med-speed;
}

.work-link {
    display: block;
    
    overflow: hidden;
}

.project-image {
    position: absolute;
    bottom: 3em;
    left: 3.5em;
    background-color: transparent;
    padding: 0.5em;
    margin-bottom: 0 !important;
    z-index: 1;
}

.project-title {
    color: $orange;
    padding: 0.25em 0 0 0.4em;
    transition: color $fast-speed;
}

.img-filler {
    width: 100%;
    height: 3em;
    position: absolute;
    background-color: white;
}

.fade-box {
    background: none;
    color: inherit;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    //-webkit-transition: border-color $med-speed, color $med-speed, opacity $med-speed;
  //  transition: border-color $med-speed, color $med-speed, opacity $med-speed;
    // -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    // transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.fade-box:focus {
    outline: none;
}

.fade-box > span {
    vertical-align: top;

    svg {
        vertical-align: top;
    }
}

.fade-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: $orange;
    z-index: -1;
    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -30em, 0);
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -30em, 0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s, background-color 0.5s;
    transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}

.fade-box:hover {
    .project-title {
        color: $bright-green;
    }
}

.fade-box:hover::before {
    opacity: 1;
    background: linear-gradient(120deg, #AAE3AB, #A3D95B);
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.fade-start {
    position: absolute;
    background: transparent;
    border: solid transparent 5px;
    width: 100%;
    height: 150%;
    bottom: 0;
    left: 0;
    backface-visibility: hidden;
    animation: fadeStart 3s linear forwards;
    -webkit-animation: fadeStart 3s linear forwards;
}

@keyframes fadeStart {
    0% {
        transform: translateY(100%);
        background: rgba(0, 0, 0, 1);
        opacity: 1;
    }

    99% {
        background: rgba(0, 0, 0, 1);
        transform: translateY(-200%);
        opacity: 1;
    }

    100% {
        background: rgba(0, 0, 0, 1);
        transform: translateY(-200%);
        opacity: 0;
        display: none;
    }
}

@-webkit-keyframes fadeStart {
    0% {
        transform: translateY(100%);
        background: rgba(0, 0, 0, 1);
        opacity: 1;
    }

    99% {
        background: rgba(0, 0, 0, 1);
        transform: translateY(-200%);
        opacity: 1;
    }

    100% {
        background: rgba(0, 0, 0, 1);
        transform: translateY(-200%);
        opacity: 0;
        display: none;
    }
}

@media screen and (max-width: 950px) {
    .project-blocks {
        width: 48%;
        margin: 0 0.4em 0 0.4em;
    }
}

@media screen and (max-width: 700px) {
    .project-title {
        padding-top: 0.3em;
        padding-bottom: 0;
        font-size: 16px;
        min-height: 2em;
    }

    .project-image {
        bottom: 0em;
        left: 0em;
    }

    .img-filler {
        max-height: 2em;
    }

    .project-blocks {
        margin: 0;
        width: 50%;
    }
}
