.work-layer {
    font-size: 50px;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    color: rgba(0, 0, 0, 0.3);
    width: 100%;
    overflow: hidden;
}

.project-layer {
    padding-bottom: 1.5em;
    font-size: 15px;
    width: 100%;
}

.project-blocks {
    display: inline-block;
    position: relative;
    width: 33%;
    padding: 1em;
    background-color: rgba(220, 220, 220, 0.6);
    border: solid rgb(245, 245, 245) 0.5em;
    opacity: 0.7;
    color: black;
    transition: opacity 0.5s, color 0.5s;
    -webkit-transition: opacity 0.5s, color 0.5s;
    backface-visibility: hidden;
}

.project-blocks:hover, .project-blocks:active {
    opacity: 1;
    color: white;

    .img-filler {
        background-color: black;
    }
}


.project-blocks img {
    backface-visibility: hidden;
    width:100%;
}

.project-image {
    position: absolute;
    bottom: 3em;
    left: 3.5em;
    background-color: transparent;
    padding: 0.5em;
    margin-bottom: 0 !important;
}

.project-title {
    padding: 0.1em 0 0 0.4em;
}

.img-filler {
    width: 100%;
    min-height: 3em;
    position: absolute;
    background-color: white;
}

@media screen and (max-width: 1050px) {
    .project-blocks {
        width: 50%;
    }
}

@media screen and (max-width: 700px) {
    .work-layer {
        font-size: 30px;
        padding-bottom: 0;
    }

    .project-blocks {
        width: 100%;
    }

    .project-title {
        padding-top: 0.2em;
    }
}
