@import "setup";

.project-wrapper {
    margin-bottom: 2rem;
}

.project-layer {
    padding-bottom: 1.5em;
    font-size: 15px;
    width: 100%;

    @media screen and ($large-tablet-up) {
        font-size: 15px;
    }
}

.project-blocks {
    display: inline-block;
    position: relative;
    height: auto;
    width: 50%;
    margin: 0;
    padding: 0.5em;
    background-color: rgba(220, 220, 220, 0.6);
    color: black;
    transition: transform $med-speed, opacity $med-speed, color $med-speed;

    @media screen and ($large-tablet-up) {
        margin: 1em 0.5em 1em 0.5em;
        width: 46.5%;
    }

    @media screen and ($small-desktop-up) {
        margin: 1em 3em 1em 3em;
        width:39%;
    }

    @media screen and ($large-desktop-up) {
        margin: 0.7em 0.5em 0.7em 0.5em;
        width: calc(33% - 0.8em);
    }
}

.project-blocks:hover, .project-blocks:active {
    opacity: 1;
    color: white;
    z-index: 2;
    transform: scale(1.06);
    box-shadow: 0 24px 88px -8px rgba(30, 30, 30, 0.352);

    .img-filler {
        background-color: black;
    }

    .project-thumbnail {
        opacity: 1;
    }

    .project-title {
        color: $bright-green;
    }

    .project-subtitle {
        display: block;
        color: $bright-green;
        background-color: black;
    }
}

.project-thumbnail {
    display: block;
    opacity: 0.5;
    transition: opacity $med-speed;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.work-link {
    display: block;
    background: #fff;
}

.project-image {
    position: absolute;
    bottom: 0em;
    left: 0em;
    background-color: transparent;
    padding: 0.5em;
    margin-bottom: 0 !important;
    z-index: 1;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    @media screen and ($large-tablet-up) {
        bottom: 4.5em;
    }
    @media screen and ($small-desktop-up) {
        left: 2em;
    }
}

.project-title {
    color: $orange;
    padding-top: 0.3em;
    padding-bottom: 0;
    font-size: 16px;
    min-height: 2em;
    transition: color $fast-speed;

    @media screen and ($large-tablet-up) {
        padding: 0.25em 0 0 0.4em;
        font-size: 1.62671rem;
        min-height: 0;
    }
}

.project-subtitle {
    @include smooth;
    @include Roboto;

    position: absolute;
    background-color: white;
    width: 4.7rem;
    line-height: 1.2rem;
    bottom: 1rem;
    right: 0rem;
    font-size: 0.9rem;
    font-weight: 300;
    font-family: Roboto;
    color: $orange;
    padding: 0.25em 0 0 0.4em;
    transition: color $fast-speed;
    z-index: 5;

    @media screen and ($large-tablet-up) {
        line-height: 1.7rem;
        width: 5.8rem;
        bottom: 4.5rem;
        font-size: 1.1rem;
    }
    @media screen and ($small-desktop-up) {
        right: 0.5rem;
    }

}

.img-filler {
    width: 93%;
    height: 3em;
    max-height: 2em;
    position: absolute;
    background-color: white;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    @media screen and ($large-tablet-up) {
        width: 99%;
        max-height: 3em;
    }
}

.fade-box {
    background: none;
    color: inherit;
    position: relative;
    z-index: 1;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

.fade-box:focus {
    outline: none;
}

.fade-box > span {
    vertical-align: top;

    svg {
        vertical-align: top;
    }
}

.fade-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: $orange;
    z-index: -1;
    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -30em, 0);
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -30em, 0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.5s, background-color 0.5s;
    transition: transform 0.5s, background-color 0.5s;
}

.fade-box:hover::before {
    background: linear-gradient(120deg, #AAE3AB, #A3D95B);
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.fade-start {
    position: absolute;
    background: transparent;
    border: solid transparent 5px;
    width: 100%;
    height: 150%;
    bottom: 0;
    left: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    animation: fadeStart 3s linear forwards;
    -webkit-animation: fadeStart 3s linear forwards;
}

@keyframes fadeStart {
    0% {
        transform: translateY(100%);
        background: rgba(0, 0, 0, 1);
        opacity: 1;
    }

    99% {
        background: rgba(0, 0, 0, 1);
        transform: translateY(-200%);
        opacity: 1;
    }

    100% {
        background: rgba(0, 0, 0, 1);
        transform: translateY(-200%);
        opacity: 0;
        display: none;
    }
}

@-webkit-keyframes fadeStart {
    0% {
        transform: translateY(100%);
        background: rgba(0, 0, 0, 1);
        opacity: 1;
    }

    99% {
        background: rgba(0, 0, 0, 1);
        transform: translateY(-200%);
        opacity: 1;
    }

    100% {
        background: rgba(0, 0, 0, 1);
        transform: translateY(-200%);
        opacity: 0;
        display: none;
    }
}
